
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body, html {
      height: 100%;
    }
    .content {
      min-height: calc(100vh - 100px); /* Adjust based on your header and footer height */
    }
    .footer {
      height: 60px;
      line-height: 60px; /* Vertically center text */
      background-color: #343a40;
      color: white;
    }
  </style>
</head>
<body class="d-flex flex-column">

<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Employee Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
          </li>
          <li class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add new Emp</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="content flex-fill">
  <div class="container my-4">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer mt-auto">
  <div class="container text-center">
    <span style="text-align: justify;">All rights reserved for now</span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
